.home-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px 20px;
}

@media (min-width: 1024px) {
  .home-page {
    padding: 20px 40px;
  }
}

.home-page__bg-square {
  display: none;
}

.hero {
  margin-top: 40px;
  margin-bottom: 60px;
}

.hero__intro {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.hero__image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  flex-shrink: 0;
}

.hero__title,
.hero__subtitle,
.hero__blurb {
  margin-top: 0;
  margin-bottom: 0;
}

.hero__title {
  transform: translateY(-0.2em);
}

.hero__subtitle {
  margin-top: 1.5rem;
}

.hero__blurb {
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .hero__title {
    font-size: 3.3em;
  }
}
