:root {
/* Brand Colors */
--color-primary: #800080; /* Dark Purple */
--color-secondary: #640064; /* Slightly Darker Purple */

/* Background Colors */
--color-bg: #1A1A1A; /* Very Dark Gray */
--color-bg-secondary: #282828; /* Dark Gray */
--color-bg-accent: #252525; /* Vibrant Purple */

/* Text and Border Colors */
--color-text: #B9B4C7; /* Light Lavender (High Contrast) */
--color-text-alt: #FAF0E6; /* Off-White (Highest Contrast) */
--color-border: #5C5470; /* Muted Purple-Gray (Matches Accent Background) */


  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: 'Open Sans', "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-family-secondary: 'Fira Sans', sans-serif, Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-family-heading: var(--font-family-secondary);

  /* Sizes */
  --site-width: 850px;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
}
