<footer class="site-footer">
  <small>
    This portfolio is powered by Eleventy and the base template belongs to
    <a class="link-darkmode" href="https://www.tylerroderick.com">Tyler M. Roderick</a>.
                Check out the
    <a class="link-darkmode" href="{{ pkg.repository.url }}">GitHub repo</a>.
  </small>
</footer>